body{
    margin: 0;
    padding: 0;
}

header, footer, main, nav{
    width: 70%;
    border: solid 1px black;
    min-height: 50px;
    margin:auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

header{
    height: 150px;
}

main{
    min-height: 400px;
}

