*{
    box-sizing: border-box;
}

main{
    border: solid 2px black;
    padding: 20px;
    margin: auto;
    width: 65%;
    min-height: 200px;
    text-align: center;
}

.content{
    border: solid 2px black;
    width: 65%;
    min-height: 200px;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.left{
    width:50%;
    background-color: aqua;
    padding: 20px;
}

.right{
    width: 50%;
    padding: 20px; 
    display: flex; 
    flex-wrap: wrap;
}

.title{
    width: 100%;
}

.create_file{
    width: 50%;
}

.create_dir{
    width: 50%;
}