.main{
    border: solid 1px black;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.captcha{
    background-color: aqua;
    padding: 10px;
    font-size: 2em;
}

form{
    margin-top: 20px;
    padding: 10px;
}

form input{
    font-size: 2em;
}