body{
    background-color: black;
}
.container{
    border: solid 1px black;
    width: 70%;
    margin: auto;
    background-color: gray;
    padding: 10px;
}

input{
    margin-left: 10px;
    width: 200px;
    height: 20px;
}


textarea{
    position: relative;
}