.main, header{
    border: solid 1px black;
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

header{
    margin-bottom: 10px;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}

.left{
    min-height: 300px;
    border-right: solid 1px black;
    width: 25%;
}

.right{
    width: 75%;
    background-color: antiquewhite;
    min-height: 300px;
}

.main form{
    margin: 20px;
}

.main form div{
    margin: 10px;
}
