.login{
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

*{
    box-sizing: border-box;
}

header, footer, main{
    width: 70%;
    border: solid 1px black;
    padding: 5px;
    margin: 10px auto;
    min-height: 30px;
}

header {
    height: 100px;
    background-color: beige;
}

main{
    min-height: 400px;
    display: flex;
}

main nav{
    border: solid 1px black;
    width: 20%;
}

main .content{
    width: 80%;
    background-color: aliceblue;
}

footer{
    background-color: beige;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    border-bottom: solid 1px black;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav ul li a:hover{
    font-weight: bold;
}

.content{
    padding: 10px;
}

.tb{
    border: solid 1px black;
    border-spacing: 0px;
}


.tb td{
    border: solid 1px black;
    padding: 5px;
}